<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maples.serinus.repository.SerinusPermissionMapper">
    <resultMap id="BaseResultMap" type="org.maples.serinus.model.SerinusPermission">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="permission_level" jdbcType="INTEGER" property="permissionLevel"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select `id`, `user_id`, `role_id`, `permission_level`, `status`
        from tb_serinus_permission
        <where>
            `user_id` = ${userId}
        </where>
    </select>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        select `id`, `user_id`, `role_id`, `permission_level`, `status`
        from tb_serinus_permission
        <where>
            `role_id` = ${roleId}
        </where>
    </select>

    <select id="selectOneByUserIdAndRoleId" resultMap="BaseResultMap">
        select `id`, `user_id`, `role_id`, `permission_level`, `status`
        from tb_serinus_permission
        <where>
            `user_id` = ${userId} and `role_id` = ${roleId}
        </where>
    </select>
</mapper>